@import "partials/fonts";
@import "partials/settings";
@import "partials/media";

// Main

* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html,
body {
	margin: 0;
	width: 100%;
	//не самое лучшее решение, предлагаю его убрать
	overflow-x: hidden;
}

body {
	//font-family: $opensans;
	position: relative;
	//1 маловато, текст слипается. предлагаю 1.2
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	//color: $black;
}

//это мы уже обсудили :)
//ol,
//ul {
//	list-style: none;
//	padding: 0;
//	margin: 0;
//}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.2s;

	&:hover,
	&:focus {
		text-decoration: none;
		//outline лучше не убирать. или, если избавляется от outline, то необходимо прописать состояние :focus, чтобы при работе с клавиатуры было понятно, где находится курсор
		outline: none;
		color: inherit;
	}
}

p {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea,
button {
	outline: none;
	-webkit-appearance: none;
	resize: none;

	&:focus {
		//тоже самое
		outline: none;
	}
}

.clearfix:after {
	//обычно используется при float. предлагаю убрать, чтобы не возникало путанницы
	content: "";
	display: table;
	clear: both;
}
