<aside class="menu">
	<nav class="menu__navigation">
		<ul class="menu__list">
			<li class="menu__item">
				<a href="index.html" class="menu__link">Кодгайд</a>
			</li>
			<li class="menu__item">
				<a href="colors.html" class="menu__link">Библиотека цветов</a>
			</li>
			<li class="menu__item">
				<a href="fonts.html" class="menu__link">Библиотека текстовых элементов</a>
			</li>
			<li class="menu__item">
				<a href="buttons.html" class="menu__link">Библиотека кнопок и интерактивных элементов</a>
			</li>
			<li class="menu__item">
				<a href="icons.html" class="menu__link">Иконки</a>
			</li>
		</ul>
	</nav>
</aside>
